

/* Buttons */

body {
  padding-right: 20%;
  padding-left: 20%;
  padding-bottom: 10%;
  background-color: #F4F5F7;
}




/* Buttons */

.btn {
  border-radius: 0;
}








/* Badge */

.badge {
  border-radius: 0;
}




/* Inputs */
.input-group-addon {
  border-radius: 0;
}
