

/* General */

body {
  background-color: #F4F5F7;
  padding-bottom: 5%;
  max-width: 1600px;
  margin: 0 auto;
}

.upper {
  text-transform: uppercase;
}

.shadow {
      box-shadow: 0 2px 4px 0 rgba(207,207,207,0.50);
}

.shadow:hover {
      box-shadow: 0 2px 4px 2px rgba(207,207,207,0.50);
}

.img-fluid {
  width: 100%;
}




/* Buttons */

.btn {
  border-radius: 0;
}

.btn-primary {
  background-color: #49A1B8;
  border-color: #49A1B8;
}

.btn-primary:hover {
   color: #fff;
   background-color: #49A1B8;
   border-color: #49A1B8;
   opacity: .8;
}

.btn-primary.active, 
.btn-primary:active, 
.show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #49A1B8;
    background-image: none;
    border-color: #49A1B8;
}

.btn-outline-primary {
  background-color: #fff;
  border-color: #49A1B8;
  color: #49A1B8;
}

.btn-outline-primary:hover {
   color: #fff;
   background-color: #49A1B8;
   border-color: #49A1B8;
   opacity: .8;
}

.btn-outline-primary.active, 
.btn-outline-primary:active, 
.show>.btn-outline-primary.dropdown-toggle {
   color: #fff;
   background-color: #49A1B8;
   border-color: #49A1B8;
   opacity: .8;
}


a {
  color: #49A1B8;
}

a:hover {
  color: #49A1B8;
  opacity: .8;
}
  
  


/* Badge */

.badge {
  border-radius: 0;
  padding: .4em .6em;
  font-weight: 500;
}



/* Cards */
.card {
border: 0px solid rgba(255,255,255,.125);
border-radius: 0rem;
margin-bottom: 15px;
}

.card-img-top {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.card .card-title{
  font-weight: 700;
}

.card .card-text {
  font-weight: 100;
}



/* Inputs */
.input-group-addon {
  border-radius: 0;
}

.input-group-addon.form-control-lg, 
.input-group-lg>.input-group-addon, 
.input-group-lg>.input-group-btn>.input-group-addon.btn,
  border-radius: 0;
}




/* Lists */
.list-group-item:last-child {
    border-bottom-right-radius: 0rem;
    border-bottom-left-radius: 0rem;
}

.list-group-item:first-child {
    border-top-right-radius: 0rem;
    border-top-left-radius: 0rem;
}

.list-group-item:last-child {
    border-bottom-right-radius: 0rem;
    border-bottom-left-radius: 0rem;
}





  
/* Tables */

table {
  margin-bottom: 0rem;
}
  
  

/* Forms */

.form-control {
  border-radius: 0;
  border: 1px solid rgba(0,0,0,.05);
}



.form-control-lg {
  border-radius: 0;
}

.custom-select {
  border: 1px solid rgba(0,0,0,.05);
  border-radius: 0rem;
}
  


/* Navigation */
.nav-tabs .nav-link {
    border: 0px solid transparent;
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
    padding-top: 1rem;
}




/* Navs */

.nav-tabs .nav-link {
  color: #979797;
}

.nav-tabs .nav-link:hover {
  color: #49A1B8;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #49A1B8;
    background-color: #fff;
    border-color: transparent;
    box-shadow: 0 2px 4px 0 rgba(207,207,207,0.50);
}

.nav-tabs {
  border-bottom: 1px solid transparent;
}

a .nav-link {
  color: #979797
}
  



