

/* General */

body {
  background-color: #F4F5F7;
  padding-bottom: 5%;
  max-width: 1600px;
  margin: 0 auto;
}




/* Buttons */

.btn {
  border-radius: 0;
}




/* Badge */

.badge {
  border-radius: 0;
}




/* Inputs */
.input-group-addon {
  border-radius: 0;
}

.input-group-addon.form-control-lg, 
.input-group-lg>.input-group-addon, 
.input-group-lg>.input-group-btn>.input-group-addon.btn,
  border-radius: 0;
}




/* Forms */

.form-control {
  border-radius: 0;
  border: 1px solid rgba(0,0,0,.05);
}

.form-control-lg {
  border-radius: 0;
}
  
